@import url('https://fonts.googleapis.com/css2?family=Anta&family=Red+Hat+Display&family=Rubik+Scribble&family=Signika+Negative:wght@600&display=swap');
/*  
 *   App, Main 
 */
.app{
    font-family: "Anta", sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
    padding-left: 10%;
    padding-right: 10%;
}
header{
    font-family: "Rubik Scribble", system-ui; 
    text-align: center;
    font-size: -webkit-xxx-large;
    font-weight: bold;
    padding-bottom: 3%;
}
input, button {
    font-family: "Anta", sans-serif;
}
.inputForm{
    display: flex;
}
.inputForm input {
    text-align: center;
    flex: 1; 
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #27385a;
  }
  
.inputForm button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #27385a; /* #22b8cf; */
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
  
.inputForm button:hover {
    background: #79a6ff; /* #3bc9db * */
    border: none;
}
.todo-list{
    display: flex;
}
.todo-score{
    font-family: "Rubik Scribble", system-ui; 
    padding-top: 3%;
    padding-bottom: 3%;
}
.todo-score div{
    font-size: xx-large;
}

/*  
 *   TodoList
 */
.todo-complete-span, .todo-list-span{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.todo-list-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.todo-list-span {
    color: #333; /* todo list font color*/
  }
  
.todo-complete-span {
    color: #0653a5; /* complete list font color */
}
  
.todo-list-div > span {
  /*   display: inline-block; span one line */
    text-align: center;
    margin-bottom: 10px; 
    width: 100%;
}
.todo-list-none-frame{
    background-color: #f9fdff;
}
.todo-list-none-frame img{
    height: 100px;
    opacity: 0.1;
    padding-top: 10%;
    padding-bottom: 10%;
}


/*  
 *   TodoItem
 */


.todo-item input[type="text"]{
    height: 25px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.todo-item input[type="checkbox"] {
    appearance: none; 
    width: 20px; 
    height: 20px; 
    border: 2px solid #452828; 
    border-radius: 4px; 
    outline: none; 
    cursor: pointer; 
    margin-right: 10px; 
  }
  
  .todo-item input[type="checkbox"]:checked {
    border-color: #452828; 
  }
  
  .todo-item input[type="checkbox"]:checked::before {
    content: "\2713"; 
    font-size: 16px; 
    color: #fff; 
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    text-align: center; 
    line-height: 20px; 
    background-color: #ff6767; 
    border-radius: 4px; 
  }
.todo-item img{
    width: 25px;
    height: 25px;
    padding-left: 5%;
}
.todo-item img:hover{
    background-color: #d4fff1;
    border-radius: 10px;
    cursor: pointer;
}

.todo-item ul{
    padding-left: 5%;
    padding-right: 5%;
}
.todo-item li{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color:  #edf3ff;
  cursor: auto;
}
.todo-item li:hover{
    background-color: #b1ccff;
   
}
.todo-item li div{
    display: flex;
    align-items: center;
}

.todo-item-checkbox {
    margin-right: 10px; 
}

.todo-item-checked {
    font-style: italic;
    text-decoration: line-through; /* line in the middle */
    color: #0653a5;
}


/* tablet- smaller than 992px  */
@media (max-width: 991px) {
    .todo-list {
        flex-flow: column;
    }
}
/* mobile */
@media screen and (max-width:767px) {
    .todo-score div{
        font-size: 22px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .todo-item ul{
        margin: 0;
    }
    .todo-item{
        margin-bottom: 15px;
    }
}