@import url('https://fonts.googleapis.com/css2?family=Anta&family=Red+Hat+Display&family=Rubik+Scribble&family=Signika+Negative:wght@600&display=swap');

html, body{
    overflow: hidden; /* prevent scroll */
    min-width: 375px;
    min-height: 667px;
}
/*  
 *   App, Main 
 */
.app{
    overflow-y: auto; /* vertical scroll*/
    max-height: calc(100vh - 7rem); /* viewport height - 7 rem  */
    font-family: "Anta", sans-serif;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
header{
    font-family: "Rubik Scribble", system-ui; 
    text-align: center;
    /* font-size: -webkit-xxx-large; v1*/
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 3%;
}

input, button {
    font-family: "Anta", sans-serif;
}
.inputForm{
    display: flex;
}
.inputForm input {
    text-align: center;
    flex: 1; 
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #27385a;
  }
  
.inputForm button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #27385a; /* #22b8cf; */
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 5px 4px 0px hsl(0deg 0% 68.71%);
}
  
.inputForm button:hover {
    box-shadow: 1px 1px 2px 1px hsl(0deg 0% 68.71%);

}
.todo-list{
    display: flex;
}
.todo-score{
    font-family: "Rubik Scribble", system-ui; 
    padding-top: 3%;
    padding-bottom: 5%;
}
.todo-score div{
    text-shadow: 3px 4px 5px lightgray;
    font-size: 35px;
}
.clearBtn{
    display: flex;
    padding-bottom: 2%;
    padding-top: 10px;
}
.clearBtn button{
    width: -webkit-fill-available;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
    background: #27385a; /* #22b8cf; */
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 5px 4px 0px hsl(0deg 0% 68.71%);
}
.inputForm button:hover, .clearBtn button:hover{
    box-shadow: 1px 1px 2px 1px hsl(0deg 0% 68.71%);
}
/* All complete event */
@media (prefers-reduced-motion: no-preference) {
    .todo-score-complete {
      animation: comeplete-score-spin infinite 0.5s;
    }
}
@keyframes comeplete-score-spin {
    from {
      transform: scale(1, 1);
      opacity: 0;
    }
    to {
      transform: scale(1.2, 1.2);
      opacity: 1;
    }
  }
  

/*  
 *   TodoList
 */
.todo-complete-span, .todo-list-span{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 3px 4px 5px silver;
}

.todo-list-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.todo-list-span {
    color: #354b77; /* todo list font color*/
  }

.todo-complete-span {
    color: #3f95f0 /* complete list font color */
}
  
.todo-list-div > span {
  /*   display: inline-block; span one line */
    text-align: center;
    margin-bottom: 10px; 
    width: 100%;
}
.todo-list-name{
    display: flex;
    align-items: flex-start;
    align-self: center;
}
.todo-list-none-frame{
    height: 50px;
    opacity: 0.3;
    padding-top: 10%;
    padding-bottom: 10%;
}


/*  
 *   TodoItem
 */


.todo-item input[type="text"]{
    height: 25px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.todo-item input[type="checkbox"] {
    appearance: none; 
    width: 20px; 
    height: 20px; 
    border: 2px solid #452828; 
    border-radius: 4px; 
    outline: none; 
    cursor: pointer; 
    margin-right: 10px; 
  }
  
  .todo-item input[type="checkbox"]:checked {
    border-color: #452828; 
  }
  
  .todo-item input[type="checkbox"]:checked::before {
    content: "\2713"; 
    font-size: 16px; 
    color: #fff; 
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    text-align: center; 
    line-height: 20px; 
    background-color: #ff6767; 
    border-radius: 4px; 
  }
.todo-item img{
    width: 25px;
    height: 25px;
    padding-left: 5%;
}
.todo-item img:hover{
    background-color: #d4fff1;
    border-radius: 10px;
    cursor: pointer;
}

.todo-item ul{
    padding-left: 5%;
    padding-right: 5%;
}

.todo-item li{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  background: hsl(0deg 0% 99.24%);
  box-shadow: 1px 5px 4px 0px hsl(210deg 33.45% 56.19%);

}
.todo-item li:hover{
  box-shadow: 1px 2px 2px 1px hsl(210deg 33.45% 56.19%);
}
.todo-item li div{
    display: flex;
    align-items: center;
}

.todo-item-checkbox {
    margin-right: 10px; 
}

.todo-item-checked {
    font-style: italic;
    text-decoration: line-through; /* line in the middle */
    color: #0653a5;
}


/* tablet- smaller than 992px  */
@media (max-width: 768px) {
    .todo-list {
        flex-flow: column;
    }
    header{
        font-size: 50px;
    }
}
/* mobile */
@media screen and (max-width:576px) { /* 480*/
    .app{
        padding-left: 5%;
        padding-right: 5%;
    }
    .todo-score{
        padding-bottom: 0%;
    }
    .todo-list-none-frame img{
        height: 80px;
        padding: 0%;
    }
    .todo-complete-span, .todo-list-span{
        font-size: 20px;
        padding-top: 5%;
    }
  
    .todo-score div{
        font-size: 28px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .todo-item ul{
        margin: 0;
    }
    .todo-item{
        margin-bottom: 15px;
    }
    
}


