
.app{
    text-align: center;
    margin: 0 auto;
    margin-top: 4rem;
    
}
.inputForm{
    display: flex;
}
.inputForm input {
    text-align: center;
    flex: 1; 
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #c5f6fa;
  }
  
.inputForm button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
  
.inputForm button:hover {
    background: #3bc9db;
}

.todo-item{
    text-align: center;
    padding: 1rem;
    align-items: center; 
    border: 1px solid lightblue;
}
.todo-item button{
    cursor: pointer;
}
.todo-item li{
    list-style-type: none;
}